TELEGRAM_BOT_TOKEN=123456789:replace_with_your_bot_token
TELEGRAM_ALLOWED_CHAT_IDS=123456789
TELEGRAM_POLL_TIMEOUT=30
TELEGRAM_MAX_PARALLEL_TASKS=3
TEAMBITION_APP_ACCESS_TOKEN=replace_with_your_teambition_app_access_token
TEAMBITION_APP_ID=replace_with_your_teambition_application_id
TEAMBITION_APP_SECRET=replace_with_your_teambition_application_secret
TEAMBITION_TENANT_ID=replace_with_your_teambition_org_id
TEAMBITION_TENANT_TYPE=organization
TEAMBITION_PROJECT_ID=replace_with_your_teambition_project_id
TEAMBITION_IDLE_BOARD_LIST=doing
